
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link active" routerLink="/product-Info" routerLinkActive="active">Product Information..</a>
        </div>
    </div>
</nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>